include ../mixins

div.draft-live__confirm-panel.draft-live__confirm-panel--pass
	div.draft-live__selected-info
		span.draft-live__selected-name Pass on this pick?
	div.draft-live__confirm-actions
		button#draft-live-confirm-pass.btn.btn-warning.btn-sm
			i.fa.fa-forward.mr-1
			| Confirm Pass
		button#draft-live-cancel-pass.btn.btn-secondary.btn-sm
			i.fa.fa-times.mr-1
			| Cancel
