version: '3.6'

services:
  web:
    container_name: pso-web
    extra_hosts:
      - "login.coinflipper.local:host-gateway"
    profiles:
      - main
      - postseason
    image: node:22-alpine
    volumes:
      - .:/app
      - ../ssl:/ssl
    working_dir: /app
    ports:
      - 9528:9528
    command: node index.js

  mongo:
    container_name: pso-mongo
    profiles:
      - main
      - postseason
    image: mongo:8.0.4
    volumes:
      - pso-data:/data/db

  cron:
    container_name: pso-cron
    profiles:
      - main
    image: node:22-alpine
    volumes:
      - .:/app
    command: sh -c "crontab /app/etc/crontab && crond -f"

volumes:
  pso-data:
    name: pso-data
