services:
  web:
    container_name: pso-web
    restart: unless-stopped
    depends_on:
      - mongo
    extra_hosts:
      - "login.coinflipper.local:host-gateway"
    profiles:
      - main
      - postseason
    image: node:22-alpine
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - 9528:9528
    command: node index.js

  mongo:
    container_name: pso-mongo
    restart: unless-stopped
    profiles:
      - main
      - postseason
    image: mongo:8.0.4
    volumes:
      - pso-data:/data/db

  cron:
    container_name: pso-cron
    restart: unless-stopped
    depends_on:
      - mongo
    profiles:
      - main
    image: node:22-alpine
    volumes:
      - .:/app
    command: sh -c "crontab /app/etc/crontab && crond -f"
    stop_grace_period: 2s

  scuttlebot:
    container_name: pso-scuttlebot
    restart: unless-stopped
    profiles:
      - main
    image: node:22-alpine
    volumes:
      - .:/app
    working_dir: /app
    command: node tools/bots/scuttlebot.js

volumes:
  pso-data:
    name: pso-data
