doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

		link(rel='stylesheet' href='/css/bootstrap.min.css')

		link(rel="stylesheet" href='/auction.css')

		script(src='/js/jquery.min.js')
		script(src='/js/umd/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script
			| $(function() { $('[data-toggle="tooltip"]').tooltip(); });

		script(src='/auction.js')

		title Bid Buddy

	body
		div.container.text-center
			hr

			form#bid-form
				div.form-row.justify-content-center.m-1
					div.input-group.col-12.col-lg-6
						div.input-group-prepend
							span.input-group-text $
						input#bid-amount.form-control(type='text')
						input.btn.btn-primary(type='submit' value='Bid')

			hr

			div.row.justify-content-center
				div.col-12.col-lg-6.text-center
					div#player

			div.row.justify-content-center
				div.col-12.col-lg-6.text-center
					ul#bid-history
