doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

		link(rel='stylesheet' href='/css/bootstrap.min.css')

		link(rel="stylesheet" href='/css/auction.css')

		script(src='/js/jquery.min.js')
		script(src='/js/umd/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script
			| $(function() { $('[data-toggle="tooltip"]').tooltip(); });

		script.
			const referenceSite = !{JSON.stringify(referenceSite)};
			const owners = !{JSON.stringify(owners)};
			const webSocketUrl = !{JSON.stringify(webSocketUrl)};

		script(src='/js/auction.js')

		title Bid Buddy

	body.user
		dialog
			button#reconnect.btn.btn-info Reconnect

		div.container.text-center
			hr.roll-call-visible

			div#controls.roll-call-visible.row.justify-content-center
				div.col-12.text-center
					button#roll-call.btn.btn-success.m-1
						i.fa.fa-check
						|
						| Check In
					h4.thanks Thanks for checking in!

			hr

			div.d-flex.flex-row.align-items-center.justify-content-center
				form#bid-form
					div.form-row.justify-content-center.m-1
						div.input-group.col-12
							div.input-group-prepend
								span.input-group-text $
							input#bid-amount.form-control(type='number')
							input.btn.btn-primary(type='submit' value='Bid')

				h4#clock.mb-0.mr-1


			hr

			div.row.justify-content-center
				div.col-12.col-md-6
					div.row
						div.nominating.next.col-6.text-center
							span.when Up Next
							br
							span.who --

						div.nominating.later.col-6.text-center
							span.when After That
							br
							span.who --

			hr

			div.row.justify-content-center
				div.col-12.col-lg-6.text-center
					div#player
						h5#nominator
							span#nominator-name
							|
							|
							span#nominator-text
						h1#player-name
							a(target='_blank')
						h4
							span#player-position
							| ,
							|
							span#player-situation

			div.row.justify-content-center
				div.col-12.col-lg-6.text-center
					ul#bid-history
