doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

		script(src='/js/jquery.min.js')
		script(src='/js/umd/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script
			| $(function() { $('[data-toggle="tooltip"]').tooltip(); });

		script(src='../auction.js')

		title Bid Buddy Admin

	body
		div.container.text-center
			div#controls.col-12
				button#pause.btn.btn-warning.m-1
					i.fa.fa-pause
					|
					| Pause
				button#activate.btn.btn-success.m-1
					i.fa.fa-play
					|
					| Activate
				button#pop.btn.btn-primary.m-1
					i.fa.fa-eraser
					|
					| Pop Top Bid

			form#nomination-form
				div.form-row
					div.input-group
						input#name.form-control(type='text' name='name' placeholder='Name')
						select#position.form-control(name='position')
							option(value='QB') QB
							option(value='RB') RB
							option(value='RB/WR') RB/WR
							option(value='WR') WR
							option(value='TE') TE
							option(value='DL') DL
							option(value='DL/LB') DL/LB
							option(value='LB') LB
							option(value='DB') DB
							option(value='K') K
						select#team.form-control(name='team')
							option(value='ARI') ARI
							option(value='ATL') ATL
							option(value='BAL') BAL
							option(value='BUF') BUF
							option(value='CAR') CAR
							option(value='CHI') CHI
							option(value='CIN') CIN
							option(value='CLE') CLE
							option(value='DAL') DAL
							option(value='DEN') DEN
							option(value='DET') DET
							option(value='FA') FA
							option(value='GB') GB
							option(value='HOU') HOU
							option(value='IND') IND
							option(value='JAX') JAX
							option(value='KC') KC
							option(value='LAC') LAC
							option(value='LAR') LAR
							option(value='LV') LV
							option(value='MIA') MIA
							option(value='MIN') MIN
							option(value='NE') NE
							option(value='NO') NO
							option(value='NYG') NYG
							option(value='NYJ') NYJ
							option(value='PHI') PHI
							option(value='PIT') PIT
							option(value='SEA') SEA
							option(value='SF') SF
							option(value='TB') TB
							option(value='TEN') TEN
							option(value='WAS') WAS
						input.btn.btn-primary(type='submit' value='Submit')

			hr

			div#player.col-12

			ul#bid-history.col-12.list-group
