extends layout.pug

block styles
	link(rel='stylesheet' href='/league.css')

block content
	-
		function formatMoney(n) {
			return n.toLocaleString();
		}

	div.container-fluid.py-4
		h1.text-center.mb-4 League Overview
		
		div.row
			each franchise in franchises
				div.col-md-6.col-lg-4.col-xl-3.mb-4
					div.card.h-100
						div.card-header.d-flex.justify-content-between.align-items-center
							a.franchise-name(href='/league/franchise/' + franchise._id)= franchise.displayName
							span.badge.badge-secondary= franchise.rosterCount + '/' + rosterLimit
						
						div.card-footer.small.d-flex.justify-content-between
							span Payroll: $#{formatMoney(franchise.payroll)}
							span Available: $#{formatMoney(franchise.available)}
