doctype html
html
	head
		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' href='../sim.css')
		script(src='/js/jquery.min.js')
		script(src='/js/umd/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/simulator.js')

		title Simulator Results for Week #{options.startWithWeek}

	body
		div.container
			p.my-2
				h1.text-center.mb-0 The Simulator
				h6.text-center Week #{options.startWithWeek} and Onward

			div.row.col-12
				table.table.table-hover.table-sm
