extends layout.pug
include mixins

block title
	+title('Sunk Cost Calculator')

block og_meta
	meta(property='og:title' content='Sunk Cost Calculator')
	meta(property='og:description' content='Calculate buy-out and recoverable amounts for player cuts')
	meta(property='og:image' content='https://thedynastyleague.com/images/og/the-gang-slop-og.jpg')

block styles
	link(rel='stylesheet' href='/css/sunk.css')

block content
	div.container.py-4
		div.page-header
			h1 Sunk Cost Calculator

		div.sunk
			div.sunk__input-group
				input#salary.sunk__input(type='text' placeholder='Enter base salary...' inputmode='numeric')

			table.sunk__table
				thead
					tr
						th First Year
						th Second Year
						th Third Year
				tbody
					tr
						td(data-year='First Year')
							div.sunk__item
								span.sunk__label.sunk__label--buyout Buyout (60%)
								span#yearOneBuyout.sunk__value.sunk__value--buyout.sunk__value--empty ?
							div.sunk__item
								span.sunk__label.sunk__label--recoverable Recoverable (40%)
								span#yearOneRecover.sunk__value.sunk__value--recoverable.sunk__value--empty ?
						td(data-year='Second Year')
							div.sunk__item
								span.sunk__label.sunk__label--buyout Buyout (30%)
								span#yearTwoBuyout.sunk__value.sunk__value--buyout.sunk__value--empty ?
							div.sunk__item
								span.sunk__label.sunk__label--recoverable Recoverable (70%)
								span#yearTwoRecover.sunk__value.sunk__value--recoverable.sunk__value--empty ?
						td(data-year='Third Year')
							div.sunk__item
								span.sunk__label.sunk__label--buyout Buyout (15%)
								span#yearThreeBuyout.sunk__value.sunk__value--buyout.sunk__value--empty ?
							div.sunk__item
								span.sunk__label.sunk__label--recoverable Recoverable (85%)
								span#yearThreeRecover.sunk__value.sunk__value--recoverable.sunk__value--empty ?

			div.sunk__info
				p When a player is cut, the buy-out portion of their salary is a "sunk cost" that continues to count against the cap. The rest of their salary is recoverable by the franchise.

block scripts
	script.
		(function() {
			var salaryInput = document.getElementById('salary');
			
			var elements = {
				yearOneBuyout: document.getElementById('yearOneBuyout'),
				yearOneRecover: document.getElementById('yearOneRecover'),
				yearTwoBuyout: document.getElementById('yearTwoBuyout'),
				yearTwoRecover: document.getElementById('yearTwoRecover'),
				yearThreeBuyout: document.getElementById('yearThreeBuyout'),
				yearThreeRecover: document.getElementById('yearThreeRecover')
			};

			function formatMoney(n) {
				return '$' + n.toLocaleString();
			}

			function setValues(buyoutEl, recoverEl, salary, buyoutPct) {
				if (salary > 0) {
					var buyout = Math.ceil(salary * buyoutPct);
					var recover = salary - buyout;
					buyoutEl.textContent = formatMoney(buyout);
					recoverEl.textContent = formatMoney(recover);
					buyoutEl.classList.remove('sunk__value--empty');
					recoverEl.classList.remove('sunk__value--empty');
				} else {
					buyoutEl.textContent = '?';
					recoverEl.textContent = '?';
					buyoutEl.classList.add('sunk__value--empty');
					recoverEl.classList.add('sunk__value--empty');
				}
			}

			function computeSunkCosts() {
				var rawValue = salaryInput.value.replace(/[^0-9]/g, '');
				var salary = (rawValue !== '' && !isNaN(parseInt(rawValue))) ? parseInt(rawValue) : 0;

				setValues(elements.yearOneBuyout, elements.yearOneRecover, salary, 0.6);
				setValues(elements.yearTwoBuyout, elements.yearTwoRecover, salary, 0.3);
				setValues(elements.yearThreeBuyout, elements.yearThreeRecover, salary, 0.15);
			}

			salaryInput.addEventListener('input', computeSunkCosts);
			computeSunkCosts();
		})();
