/* Admin player new page styles (BEM) */

.admin-player-new__position-check {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

.admin-player-new__position-check input {
	margin-right: 0.25rem;
}
