table th {
	white-space: nowrap;
}

span.finishes {
	color: #007bff;
	cursor: pointer;
}

div.never {
	color: #222222;
}

div.rare {
	color: #555555;
}

div.unlikely {
	color: #777777;
}

div.coinflippy {
	color: #999999;
}

div.likely {
	color: #bbbbbb;
}

div.common {
	color: #dddddd;
}

div.always {
	color: #ffffff;
}

label.btn.winner {
	line-height: 16px;
}

.list-group-sm > .list-group-item {
	border-radius: .2rem;
	font-size: .875rem;
	padding: .25rem .5rem;
}
