body.paused, body.roll-call {
	background-color: #dddddd;
}

body.paused form#bid-form, body.roll-call form#bid-form,
body.paused div#player, body.roll-call div#player,
body.paused ul#bid-history, body.roll-call ul#bid-history
 {
	opacity: 50%;
}

.roll-call-visible {
	display: none;
}

body.roll-call .roll-call-visible {
	display: block;
}

body.roll-call .roll-call-visible button {
	opacity: 100%;
}

body.active {
	background-color: white;
}

body.going-once {
	background-color: yellow;
}

body.going-twice {
	background-color: orange;
}

body.sold {
	background-color: red;
}

.nominating {
	line-height: 22px;
}

.nominating .when {
	font-size: 12px;
}

.nominating .who {
	font-size: 24px;
}

body.admin .nominating .who {
	cursor: pointer;
}

.nominating.now {
	color: black;
}

.nominating.now .who {
	font-weight: bold;
}

.nominating.next {
	color: #666;
}

.nominating.later {
	color: #aaa;
}

#nominator {
}

#nominator-name {
	font-weight: bold;
}

.james-bid {
	background-color: #fee5e5;
}

.james .james-bid {
	background-color: #fe9898;
}

.jason-bid {
	background-color: #feede5;
}

.jason .jason-bid {
	background-color: #feba98;
}

.joel-bid {
	background-color: #fef6e5;
}

.joel .joel-bid {
	background-color: #fedc98;
}

.john-bid {
	background-color: #fefee5;
}

.john .john-bid {
	background-color: #fefe98;
}

.justin-bid {
	background-color: #f6fee5;
}

.justin .justin-bid {
	background-color: #dcfe98;
}

.mike-bid {
	background-color: #edfee5;
}

.mike .mike-bid {
	background-color: #bafe98;
}

.mitch-bid {
	background-color: #e5fee5;
}

.mitch .mitch-bid {
	background-color: #98fe98;
}

.patrick-bid {
	background-color: #e5feed;
}

.patrick .patrick-bid {
	background-color: #98feba;
}

.paul-bid {
	background-color: #e5fef6;
}

.paul .paul-bid {
	background-color: #98fedc;
}

.schex-kevin-bid {
	background-color: #e5fefe;
}

.schex-kevin .schex-kevin-bid {
	background-color: #98fefe;
}

.syed-koci-bid {
	background-color: #e5f6fe;
}

.syed-koci .syed-koci-bid {
	background-color: #98dcfe;
}

.taylor-bid {
	background-color: #e5edfe;
}

.taylor .taylor-bid {
	background-color: #98bafe;
}

/*
.brett-luke-bid {
	background-color: #fee5e5;
}

.brett-luke .brett-luke-bid {
	background-color: #fe9898;
}

.james-charles-bid {
	background-color: #feede5;
}

.james-charles .james-charles-bid {
	background-color: #feba98;
}

.john-zach-bid {
	background-color: #fef6e5;
}

.john-zach .john-zach-bid {
	background-color: #fedc98;
}

.keyon-bid {
	background-color: #fefee5;
}

.keyon .keyon-bid {
	background-color: #fefe98;
}

.koci-mueller-bid {
	background-color: #f6fee5;
}

.koci-mueller .koci-mueller-bid {
	background-color: #dcfe98;
}

.mitch-bid {
	background-color: #edfee5;
}

.mitch .mitch-bid {
	background-color: #bafe98;
}

.patrick-bid {
	background-color: #e5fee5;
}

.patrick .patrick-bid {
	background-color: #98fe98;
}

.quinn-bid {
	background-color: #e5feed;
}

.quinn .quinn-bid {
	background-color: #98feba;
}

.schex-bid {
	background-color: #e5fef6;
}

.schex .schex-bid {
	background-color: #98fedc;
}

.syed-kuan-bid {
	background-color: #e5fefe;
}

.syed-kuan .syed-kuan-bid {
	background-color: #98fefe;
}

.terence-bid {
	background-color: #e5f6fe;
}

.terence .terence-bid {
	background-color: #98dcfe;
}

.trevor-bid {
	background-color: #e5edfe;
}

.trevor .trevor-bid {
	background-color: #98bafe;
}
*/

.error {
	background-color: #ffdddd;
}
