body.paused, body.roll-call {
	background-color: #dddddd;
}

body.user.paused form#bid-form, body.roll-call form#bid-form,
body.user.paused div#player, body.roll-call div#player,
body.user.paused ul#bid-history, body.roll-call ul#bid-history
 {
	opacity: 50%;
}

.roll-call-visible {
	display: none;
}

body.roll-call .roll-call-visible {
	display: block;
}

body.roll-call .roll-call-visible button {
	opacity: 100%;
}

body.roll-call.checked-in .roll-call-visible button {
	display: none;
}

body.roll-call .roll-call-visible h4 {
	display: none;
}

body.roll-call.checked-in .roll-call-visible h4 {
	display: block;
}

body.active {
	background-color: white;
}

body.going-once {
	background-color: yellow;
}

body.going-twice {
	background-color: orange;
}

body.sold {
	background-color: red;
}

.nominating {
	line-height: 22px;
}

.nominating .when {
	font-size: 12px;
}

.nominating .who {
	font-size: 24px;
}

body.admin .nominating .who {
	cursor: pointer;
}

.nominating.now {
	color: black;
}

.nominating.now .who {
	font-weight: bold;
}

.nominating.next {
	color: #666;
}

.nominating.later {
	color: #aaa;
}

#nominator {
}

#nominator-name {
	font-weight: bold;
}

.owner-0-bid {
	background-color: #fee5e5;
}

.owner-0 .owner-0-bid {
	background-color: #fe9898;
}

.owner-1-bid {
	background-color: #feede5;
}

.owner-1 .owner-1-bid {
	background-color: #feba98;
}

.owner-2-bid {
	background-color: #fef6e5;
}

.owner-2 .owner-2-bid {
	background-color: #fedc98;
}

.owner-3-bid {
	background-color: #fefee5;
}

.owner-3 .owner-3-bid {
	background-color: #fefe98;
}

.owner-4-bid {
	background-color: #f6fee5;
}

.owner-4 .owner-4-bid {
	background-color: #dcfe98;
}

.owner-5-bid {
	background-color: #edfee5;
}

.owner-5 .owner-5-bid {
	background-color: #bafe98;
}

.owner-6-bid {
	background-color: #e5fee5;
}

.owner-6 .owner-6-bid {
	background-color: #98fe98;
}

.owner-7-bid {
	background-color: #e5feed;
}

.owner-7 .owner-7-bid {
	background-color: #98feba;
}

.owner-8-bid {
	background-color: #e5fef6;
}

.owner-8 .owner-8-bid {
	background-color: #98fedc;
}

.owner-9-bid {
	background-color: #e5fefe;
}

.owner-9 .owner-9-bid {
	background-color: #98fefe;
}

.owner-10-bid {
	background-color: #e5f6fe;
}

.owner-10 .owner-10-bid {
	background-color: #98dcfe;
}

.owner-11-bid {
	background-color: #e5edfe;
}

.owner-11 .owner-11-bid {
	background-color: #98bafe;
}

.error {
	background-color: #ffdddd;
}
